* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: 10% auto;
    height: 25vw;
    width: 50%;
    overflow:hidden;
    background-color: chocolate;
}   

.mainContent img {
    height: 25vw;
}

.mainContent {
    width: 80%;
}

.select {
    width: 20%;
}

.box-news {
    display: flex;
    align-content: flex-start;
    height: 5vw;
    overflow: hidden;
}

.box-news img {
    width: 100%;
}